@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #e6e4e4;
}

.background {
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
}

.brand {
  content: url("/weather-app.png");
}

input {
  border-radius: 40px;
  padding: 14px 15px 10px 60px;
  border: none;
  display: block;
  font-size: 1rem;
  background: rgba(38, 36, 36, 0.7) url("./assets/images/search.png") no-repeat 20px center;

  &::placeholder {
    color: #e6e4e4;
  }

  &:focus {
    outline: none;
    color: #e6e4e4;
    box-shadow: 0 0 3px 0 rgb(132, 132, 132);
    border-color: rgb(132, 132, 132);
    background-color: rgba(38, 36, 36, 0.7);
  }
}

.btn-byLocation {
  border: none;
  border-radius: 32px;
  color: #e6e4e4;
  background: rgba(38, 36, 36, 0.7) url("./assets/images/placeholder.png") no-repeat 35px center;
  padding: 1rem 4rem;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: rgba(38, 36, 36, 0.7);
    box-shadow: 0 0 5px 0 rgb(132, 132, 132);
  }
}

.fb {
  content: url("./assets/images/facebook.png");
}

.insta {
  content: url('./assets/images/instagram.png');
}

.mail {
  content: url('./assets/images/mail.png');
}

.fav-icon {
  content: url('./assets/images/favorite.png');
}

.container {
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 100);
  background: #414141b4;
}

.weather-card {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 100);
  background: rgba(65, 65, 65, 0.7);
  position: relative;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: translate(0, -2px);
    box-shadow: 15px 15px 40px rgba(49, 49, 49, 0.45);
  }
}

.white-line {
  border: 1px solid rgb(255, 255, 255, 0.4);
}

::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}

::-webkit-scrollbar-thumb {
  background: rgba(176, 172, 172, 0.6);
  background-clip: padding-box;
  border-bottom: 25px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189);
  background-clip: padding-box;
  border-bottom: 25px solid transparent;
}

.breadcrumb {
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    border-right: 5px solid #e6e4e4ba;
    border-bottom: 5px solid #e6e4e4ba;
    width: 12px;
    height: 12px;
    transform: rotate(135deg) translate(0, -10px);
    position: absolute;
  }

  &:hover p {
    color: #e6e4e4;
  }

  &::after {
    content: attr(data-hover);
    visibility: hidden;
    position: absolute;
    background: #fff;
    font-size: 10px;
    color: black;
    padding: 2px;
    transform: translate(20px, -50px);
    transition: 0.2s ease-in-out;
    opacity: 0;
  }
}

.breadcrumb:hover::before {
  border-right: 5px solid #e6e4e4;
  border-bottom: 5px solid #e6e4e4;
}

.breadcrumb:hover::after {
  visibility: visible;
  opacity: 1;
}

.heading div {
  content: url('./assets/images/outline-star.png');
}

.heading .star {
  content: url('./assets/images/outline-star.png');
}

.heading .filled-star {
  content: url('./assets/images/filled-star.png');
}

@keyframes spinner {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
    transform: scale(1.5);
  }
}

.loading-spinner {
  content: url('/weather-app.png');
  animation: spinner 1s linear infinite;
  animation-direction: alternate;
}